@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

main {
    display:flex;
    height: 100vh;
}

.Cont-img {
    width: 50%;
    height: 100vh;
    object-fit: cover;
    object-position: center;

}

.Cont {
    flex:1 1 50%;
    text-align: center;
    height: 100vh;
}

.division-flex {
    display:flex;
    justify-content: center;
}

.form {
    margin:1rem 0;
}

.form h2 {
    margin: 1rem 0px;
    color:#D59EA3;
    font-family: 'Roboto';
    font-weight: 400;
}

.form label {
    display:block;
    margin: 0.2rem;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
    width: 75%;
    padding: .2rem 0;
    margin: 0.3rem 0;
    outline: 1px solid #E0E0E0;
    border: 1px solid #E0E0E0;
}


.form input[type="checkbox"] {
    margin: .8rem auto;
}

.form input[type="button"] {
    padding:.6rem;
    width: 80%;
    background-color: #FF6F6E;
    color:white;
    font-family: 'Roboto';
    border: none;
}

.form img {
    width: 60px;
}

@media (max-width: 600px) {
    main {
        flex-direction: column;
    }

    .Cont-img {
        display:flex;
        flex-shrink: 0;
        min-height: 100px;
        max-height: 150px;
        flex-grow: 1;
        width: 100%;
        object-position: center;
    }

    .Cont {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .Cont form{
        margin: 1rem;
    }
}
